data/ssp*
data/covariates
data/picontrol*
data/results
data/single_pft
data/raw
data/processed/
data/random_forest
data/final/*sample*
data/final/long*
data/ext
code_theresa
data_theresa
data_mohit
data_theresa.sh
code/old_code
old_code
plots
*duckdb*
*.png
*.tex
*.html
*.qmd
*.scss
figures
